@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">.NET loves 💜 Azure</h5>
        <p class="card-text">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <hr />
        <div>Host operating system: @Model.OSVersion</div>
    </div>
    <div class="card-footer text-muted">
        Footer text
    </div>
</div>
